<div class="container">
  <button type="button" class="btn btn-primary" (click)="markerFromLatLong()">Test</button>
  <form [formGroup]="imageSubmissionForm" (ngSubmit)="onSubmit()">
    <div formGroupName="user">
      <h2>Utilisateur</h2>
      <div class="mb-3">
        <label for="user_name" class="form-label">Nom</label>
        <input type="text" class="form-control" id="user_name" formControlName="name">
      </div>
    </div>
    <hr class="solid">
    <div formGroupName="site">
      <h2>Site d’escalade</h2>
      <div class="mb-3">
        <label for="site_name" class="form-label">Nom</label>
        <input type="text" class="form-control" id="site_name" formControlName="name">
      </div>
      <div class="mb-3">
        <label for="site_details" class="form-label">Details</label>
        <textarea class="form-control" id="site_details" formControlName="details" rows="3"></textarea>
      </div>
      <h3>Localisation</h3>
      <div class="mb-3">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="site_latitude" class="form-label">Latitude</label>
            <input type="text" class="form-control" id="site_latitude" formControlName="latitude">
          </div>
          <div class="form-group col-md-6">
            <label for="site_longitude" class="form-label">Longitude</label>
            <input type="text" class="form-control" id="site_longitude" formControlName="longitude">
          </div>
        </div>
        <div id="magnesiemap">Carte</div>
      </div>
    </div>
    <hr class="solid">
    <button type="submit" class="btn btn-primary" [disabled]="!imageSubmissionForm.valid">Submit</button>
  </form>
</div>
